<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header></header>

    <nav></nav>

    <main>
      <section class="flex-container">
        <div>
          <h2>Hello</h2>
          <img
            src="https://m.media-amazon.com/images/I/71wlO7dOY+L._AC_SX679_.jpg"
            alt="tshirt"
          />
        </div>
        <div>
          <h2>Hello</h2>
          <img
            src="https://m.media-amazon.com/images/I/71wlO7dOY+L._AC_SX679_.jpg"
            alt="tshirt"
          />
        </div>
        <div>
          <h2>Hello</h2>
          <img
            src="https://m.media-amazon.com/images/I/71wlO7dOY+L._AC_SX679_.jpg"
            alt="tshirt"
          />
        </div>
        <div>
          <h2>Hello</h2>
          <img
            src="https://m.media-amazon.com/images/I/71wlO7dOY+L._AC_SX679_.jpg"
            alt="tshirt"
          />
        </div>
      </section>

      <section class="container">
        <div>1</div>
        <div>2</div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
